-
  let painters = {
    dali: {
      quote: '"Have no fear of perfection - you\'ll never reach it." salvador dali painting',
      keywords: 'religious works desires imaginary female figure giant rocky cliff many odd objects freudian painting',
      title: 'the persistence of memory salvador dali painting',
    },
    picasso: {
      quote: '"If I paint a wild horse, you might not see the horse... but surely you will see the wildness!" Pablo Picasso paint',
      keywords: 'cubism surrealism expressionism post-impressionism open figuration abstraction texture collage',
      title: 'the weeping woman pablo picasso painting',
    },
    davinci: {
      quote: '"Art is never finished, only abandoned." leonardo da vinci painting',
      keywords: 'transparent earthy colors narrow tonal range Renaissance realistic chiaroscuro oil painting',
      title: 'mona lisa leonardo da vinci painting',
    },
    warhol: {
      quote: '"I like money on the wall." andy warhol photographic screen painting',
      keywords: 'pop art colorful bold garnish color high contrast high saturation consumerism repetitive photographic screen painting',
      title: 'campbell\'s soup cans andy warhol photographic screen painting',
    },
  }
  let imgs = [0, 1, 2, 3]

doctype html
html 
  head 
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title DALL-E Paintings
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
    link(rel='stylesheet' href='bulmaswatch.min.css')
    link(rel='stylesheet' href='style.css')

  body
    section
      .container
        h1.is-size-1.my-2 dall-e paintings
        for data, painter in painters
          for prompt, field in data
            h2.is-size-3.my-2= painter + '/' + field
            p.mt-2.mb-4 prompt: 
              code= prompt
            .columns
              for i in imgs
                .column
                  figure.image.is-square
                    img(src=`pics/${painter}-${field}-${i}.png`)

    script(src='main.js')